<!DOCTYPE html>
<html lang="en">
<!-- ***************** 문의하기 *************** -->
<span hidden="hidden" id="en"></span><!-- 해당 en 정보를 language.js에 넘긴다 -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="inquiries-english">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="미나">
    <title>SHILLA STAY GANGSEO</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="resources/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="resources/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="resources/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="resources/css/flaticon.css" type="text/css">
	<link rel="stylesheet" href="resources/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="resources/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="resources/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="resources/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="resources/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="resources/css/style.css" type="text/css">
    
    <base target="_top">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <span data-lang="language"><i class="fa fa-angle-down"></i></span>
                 <div class="flag-dropdown">
                     <ul><!-- ********** 모바일 화면 언어 설정 ********** -->
                      	<li id="lang-en"><a href="setEn.do">English</a></li>
                      	<li id="lang-ko"><a href="setKo.do">한국어</a></li>
                      </ul>
                 </div>
            </div>
            <a href="./booking/booking.do" class="bk-btn" data-lang="booking_btn"></a>
			<a href="./booking/resevationView.do" class="bk-btn" data-lang="booking_check"></a>            
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li><a href="index.jsp" data-lang="home"></a></li>
                <li><a href=".aboutUs/getAboutUs.do" data-lang="about_us"></a>
					<ul class="dropdown">
						<li><a href="aboutUs/getAboutUs.do" data-lang="about_us"></a></li>
						<li><a href="rooms/rooms.do" data-lang="rooms"></a></li>
					</ul>
				</li>
                <li><a href="event/getAllEvent.do" data-lang="event"></a></li>
                <li class="active"><a href="contactUs.do" data-lang="contact_us"></a>
                 	<ul class="dropdown">
                		<li><a href="contactUs.do" data-lang="contact"></a></li>
                		<li><a href="setLang.do" data-lang="inquiries"></a>
                	</ul>
                </li> 
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i><span data-lang="hotel_tel"></span></li>
            <li><i class="fa fa-envelope"></i> shillastay@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i><span data-lang="hotel_tel"></span></li>
                            <li><i class="fa fa-envelope"></i> shillastay@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <a href="./booking/booking.do" class="bk-btn" data-lang="booking_btn"></a>
                            <a href="./booking/resevationView.do" class="bk-btn" data-lang="booking_check"></a>
                            <div class="language-option">
                                <!-- ============================= pc 언어 설정 ====================================== -->                           
                                <span data-lang="language"><i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                    	<li id="lang-en"><a href="setEn.do">English</a></li>
                                    	<li id="lang-ko"><a href="setKo.do">한국어</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <img alt="" src="resources/img/shilla-logo.png">THE SHILLA 
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                     <li><a href="index.jsp" data-lang="home"></a></li>
                                    <li><a href="aboutUs/getAboutUs.do" data-lang="about_us"></a>
										<ul class="dropdown">
											<li><a href="aboutUs/getAboutUs.do" data-lang="about_us"></a>
											<li><a href="rooms/rooms.do" data-lang="rooms"></a></li>
										</ul>
									</li>
                                    <li><a href="event/getAllEvent.do" data-lang="event"></a></li>
                                    <li class="active">
					                <a href="contactUs.do" data-lang="contact_us"></a>
					                	<ul class="dropdown">
					                		<li><a href="contactUs.do" data-lang="contact"></a></li>
					                		<li><a href="setLang.do" data-lang="inquiries"></a>
					                	</ul>
					                </li> 
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    
    <!-- Contact Section Begin -->
    <!-- ============================= (내용) 수정 ============================ -->
    <!-- ***** style.css ***** -->
    <section class="contact-section spad">
        <div class="container">
	        <h2 id="contact-title" data-lang="inquiries"></h2><hr>
	        <p data-lang="contact_contents"></p>
	        <br><br>
            <!-- ======================= 입력부분 ===================== -->
        	<form class="subform" method="post" id="sub"
action="https://script.google.com/macros/s/AKfycbzKceqrl2lTDXa28fMU1ebpxZ-U1JTLzlwcYSFHzWUpNQ00-Yxnpr3l_bWxSz-kqUm5/exec"
target="invisible">
	            <table id="input-table">
	         		<tr>
	         			<td class="contact-td" data-lang="inq_name"></td>
		         		<td><input type="text" name="name" id="inq-name"></td>
					</tr>
					<tr>
	         			<td class="contact-td" data-lang="inq_email"></td>
		         		<td><input type="email" name="email" id="inq-email"></td>
					</tr>
					<tr>
	         			<td class="contact-td" data-lang="inq_phone"></td>
		         		<td><input type="text" name="phone" id="inq-phone"></td>
					</tr>
					<tr>
	         			<td class="contact-td" data-lang="inq_sub"></td>
		         		<td><input type="text" name="subject" id="inq-sub" size="50"></td>
					</tr> 
					<tr>
						<td class="contact-td" data-lang="inq_msg"></td>
						<td>
							<textarea rows="10" cols="50" name="message" id="inq-msg"></textarea>
						</td>
					</tr>         
			     </table><br>
			     <div class="btnLocation">
			     	<input type="button" id="sendBtn" value="등록">
<!-- ******* sumbit + alert + reload : 값을 가지고 갈 수 있는 방법 생각하기 ********* -->
			     </div>
			 </form>
			 <iframe name="invisible" style="display:none"></iframe>
        </div>
    </section>
    <!-- ================================================================================= -->
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo-footer"> <!--***********  -->
                                SHILLA
                            </div>
                            <p data-lang="home_footer_text"></p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                        <!-- *********** (하단) 호텔 위치 및 연락처 안내 *********** -->
                            <h6 data-lang="location_title"></h6>
                            <ul>
                                <li data-lang="location_content"></li>
                                <li>(MAIL) shillastay@gmail.com</li>
                                <li><span data-lang="hotel_tel"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
							<h6 data-lang="facilities"></h6>
							<ul>
                                <li data-lang="location_content"></li>
                                <li>(MAIL) shillastay@gmail.com</li>
                                <li><span data-lang="hotel_tel"></span></li>
                            </ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                        <!-- ********* 하단부분 문의 클릭시 연락처로 이동 *********  -->
                            <li><a href="contactUs.do" data-lang="contact_us"></a></li>
                            <li><a href="#" data-lang="terms_and_conditions"></a></li>
                            <li><a href="#" data-lang="privacy_policy"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="resources/js/sendmail.js"></script>
    <script src="resources/js/language.js"></script> 
	<script src="resources/js/language-en.js"></script><!-- ********* 다국어 처리 추가 ********* -->
	<script src="resources/js/jquery-3.3.1.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/jquery.magnific-popup.min.js"></script>
	<script src="resources/js/jquery.nice-select.min.js"></script>
	<script src="resources/js/jquery-ui.min.js"></script>
	<script src="resources/js/jquery.slicknav.js"></script>
	<script src="resources/js/owl.carousel.min.js"></script>
	<script src="resources/js/main.js"></script>
</body>

</html>